body {
    width: 600px;
    margin: auto;
}

div {
    /* uncomment this to see all box borders */
    border: solid 1px red;
}

.header {
    width: 100%;
    height: 100px;
}

.box {
    width: 150px;
    height: 150px;
    float: left;
    margin: 5px;
    padding: 5px;
}

.bananas {
    background-color: yellow;
}
