body {
    width: 600px;
    margin: auto;

}

div {
    /*uncomment this to see all box */
    /*border: solid 1px red; */
}

.main-navigation {
    position: fixed;
    top: 0;
    width: 600px;
    height: 35px;
    /* background-color: #ff88ff; */
    background-image: linear-gradient(to bottom right, #88dbff, #008388);
    z-index: 10px;
}

.hamburger-icon {
    display: block;
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 0 10px;
}

.hamburger-icon:before {
    content: "\2261";
}

.main-navigation nav {
    background-color: #76baf2;
    width: 100px;
    margin-top: 5px;
    padding: 5px 0 5px 0;
    display: none;
}

.main-navigation a {
    display: block;
    color: #ffffff;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    margin: 8px 0 8px 0;
    padding-left: 10px;
}



.main-navigation a:hover {
    text-decoration: underline;
}

.header {
    width: 100%;
    height: 100px;
    margin-top: 50px;
}

img {
    width: 200px;
    border: solid 1px #000;
    margin: 20px;
}

img.left {
    float: left;
}

img.right {
    float: right;
}